<div class="main-splash">
  <%= image_tag 'shared_secrets_logo.png' %>
</div>

<div class="page-wrapper">
  <div class="container splash-container">
    <%= render 'application/flash' %>
    <div class="well landing-well">
      <h1>Connecting you with the money that wins elections.</h1>
      <div class="">
        <p>
          Working with <%= link_to "OpenSecrets.org",
            "http://opensecrets.org/politicians", target: '_blank' %> and <%=
          link_to 'Twitter', 'https://twitter.com', target: '_blank' %>,
          SharedSecrets allows users to find representatives from any state and
          uncover their top campaign contributors and tweet their thoughts and
          discoveries.
        </p>
        <p>
          As this is only the beginning of the conversation, users can also
          interact with other informed citizens via posts on any
          representatives' individual page in order to contribute to
          transparency in our political process.
        </p>
        <p>
          Sign in now with Twitter using the link in the upper right hand
          corner to begin!
        </p>
      </div>
    </div>
    <%= render partial: 'application/footer' %>
  </div>
</div>

<div class="modal-backdrop <%= @show_modal %>">
  <div class="modal-well">
    <h2>Please select a State</h2>
      <div class="pure-menu pure-menu-horizontal state-select">
        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Select a State</a>
            <ul class="pure-menu-children">
              <% states_by_abbrev.each do |abbrev, state| %>
                <li class="pure-menu-item">
                  <%= link_to state, set_state_path(state: abbrev), class: 'pure-menu-link' %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</div>
