<h1><%= @name %></h1>
<%#= image_tag "https://s3.amazonaws.com/assets.opensecrets.org/politicians/img/#{@rep_cid}.jpg" %>
<%= image_tag "/party_icons/donkey_icon.png" %>
<%= @party %><br />
<%= @chamber %><br />
<%= @state %><br />
Serving Since: <%= @first_elected %><br />
Funds Raised (last campaign cycle): $<%= @total %><br />
Spent (last campaign cycle): $<%= @spent %><br />
Cash on Hand: $<%= @cash_on_hand %><br />

<br /><%= link_to "Twitter", @twitter_url %><br />
<%= link_to "Facebook", @facebook_url %><br />
<%= link_to "YouTube", @youtube_url %><br />

<div class="pure-g">
  <div class="pure-u-1-1 pure-u-xl-1-2">
    <h2>Top 5 Contributors</h2>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Contributor</th>
          <th>Total</th>
          <th>Indivs</th>
          <th>PACs</th>
        </tr>
      </thead>
      <tbody>
        <% @contributors.each do |contributor| %>
          <tr>
            <td><%= contributor["org_name"] %></td>
            <td>$<%= contributor["total"] %></td>
            <td>$<%= contributor["indivs"] %></td>
            <td>$<%= contributor["pacs"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="pure-u-1-1 pure-u-xl-1-2">
    <h2>Top 5 Industries</h2>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Industry</th>
          <th>Total</th>
          <th>Indivs</th>
          <th>PACs</th>
        </tr>
      </thead>
      <tbody>
        <% @industries.each do |industry| %>
          <tr>
            <td><%= industry["industry_name"] %></td>
            <td>$<%= industry["total"] %></td>
            <td>$<%= industry["indivs"] %></td>
            <td>$<%= industry["pacs"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="pure-form">
  <% @tweets.each_with_index do |tweet, num| %>
    <%= tweet %> <input type="radio" value="<%= tweet %>" onclick="javascript:TweetPick();" name="tweet[tweet_text]" id="tweet_tweet_text_tweet_<%= num + 1%>"><br>
  <% end %>
</div>

<%= simple_form_for @tweet, url: user_tweets_path(current_user) do |f| %>
  <%= f.input :tweet_text, label: "Hey write your text here!", :input_html => { :style=> 'width:400px', :id => "tweet_option" } %>
  <%= f.button :submit %>
<% end %>

<br />Last Updated: <%= @last_updated %>

<div class="">
  <h3>Posts about <%= @name %> </h3>
  <%= link_to "Post a link about #{@name}", new_rep_post_path(@rep_cid) %>
  <%= form_for @new_post, url: rep_posts_path(@rep_cid),
    html: {class: 'pure-form pure-form-stacked'} do |f| %>
      <%= f.text_field :link, as: :url, placeholder: 'https://...' %>
      <%= f.text_area :body %>
      <%= f.submit %>
  <% end %>

  <% @posts.each do |post| %>
   <% new_comment = Comment.new %>
    <div class="post-box">
      <h5><%= post.user.name %></h5>
      <%= link_to "#{post.link}", post.link %>
      <%= post.body %>
      <h4>Comments</h4>
      <% comments = post.comments %>
      <% unless comments.empty? %>
        <% comments.each do |comment| %>
          <div class="comment-box">
            <h5>
              <%= comment.user.name %>
              <small><%= comment.created_at.to_formatted_s(:long) %></small>
            </h5>
            <%= comment.body %>
          </div>
        <% end %>
      <% else %>
        <p>
          Be the the first to comment!
        </p>
      <% end %>
      <%= form_for new_comment, url: rep_post_comments_path(@rep_cid, post),
        html: {class: 'pure-form pure-form-stacked'} do |f| %>
        <%= f.text_area :body, placeholder: 'Comment here...' %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
</div>
