<%= @name %><br />
<%= @party %><br />
<%= @chamber %><br />
<%= @state %><br />
Serving Since: <%= @first_elected %><br />
Funds Raised: $<%= @total %><br />
Spent: $<%= @spent %><br />
Cash on Hand: $<%= @cash_on_hand %><br />

<br /><%= link_to "Twitter", @twitter_url %><br />
<%= link_to "Facebook", @facebook_url %><br />
<%= link_to "YouTube", @youtube_url %><br />

<%= link_to "Post a link about this legislator", new_rep_post_path(params[:cid]) %>
<br />

<% if @posts.present? %>
<h4>Posts about <%= @name %> </h4>
  <% @posts.each do |post| %>
    <%= post.link %><br />
    <%= post.body %><br />
    <%= link_to pluralize(post.comments.count, "Comment"), rep_post_path((params[:cid]), post) %><br />
    <%= link_to 'Comment on this Post', new_rep_post_comment_path((params[:cid]), post) %><br />
  <% end %>
<% end %>

<br />Last Updated: <%= @last_updated %>

<h1>Top 5 Contributors</h1>
<table>
  <thead>
    <tr>
      <th>Contributor</th>
      <th>Total</th>
      <th>Indivs</th>
      <th>PACs</th>
    </tr>
  </thead>
  <tbody>
    <% @contributors.each do |contributor| %>
      <tr>
        <td><%= contributor["org_name"] %></td>
        <td>$<%= contributor["total"] %></td>
        <td>$<%= contributor["indivs"] %></td>
        <td>$<%= contributor["pacs"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Top 5 Industries</h1>
<table>
  <thead>
    <tr>
      <th>Industry</th>
      <th>Total</th>
      <th>Indivs</th>
      <th>PACs</th>
    </tr>
  </thead>
  <tbody>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= industry["industry_name"] %></td>
        <td>$<%= industry["total"] %></td>
        <td>$<%= industry["indivs"] %></td>
        <td>$<%= industry["pacs"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
