<span class = "rep-imgs">
  <%= image_tag "https://s3.amazonaws.com/assets.opensecrets.org/politicians/img/#{@rep_cid}.jpg" %>
  <%= image_tag "/party_icons/donkey_icon.png" %>
</span>

<p class = "rep-header"><%= @name %></p>

<div class = "rep-header-line"></div><br /><br />
<span class = "social-media-icons">
  <%= link_to(@facebook_url, title: 'Facebook', target: "_blank") do %>
    <%= image_tag("/facebook_60x60.png", width: '30', height: '30', alt: 'Facebook') %>
  <% end %>
  <%= link_to(@twitter_url, title: 'Twitter', target: "_blank") do %>
    <%= image_tag("/twitter_60x60.png", width: '30', height: '30', alt: 'Twitter') %>
  <% end %>
  <%= link_to(@youtube_url, title: 'YouTube', target: "_blank") do %>
    <%= image_tag("/youtube_60x60.png", width: '30', height: '30', alt: 'YouTube') %>
  <% end %>
   <%#= image_tag "/logo.png" %>
</span>

<table class = "rep-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>PARTY:</strong></td>
      <td><%= @party %></td>
    </tr>
    <tr>
      <td><strong>CHAMBER:</strong></td>
      <td><%= @chamber %></td>
    </tr>
    <tr>
      <td><strong>STATE:</strong></td>
      <td><%= @state %></td>
    </tr>
    <tr>
      <td><strong>SERVING SINCE:</strong></td>
      <td><%= @first_elected %></td>
    </tr>
  </tbody>
</table>

<!-- (last campaign cycle) -->
<p class = "rep-funds-raised">Funds Raised&nbsp;&nbsp;&nbsp;$<%= @total %>*</p></center>
<div class = "rep-spent-cash">
  <font style = "padding-left: 6em;">
    SPENT:&nbsp;&nbsp;$<%= @spent %>*
  </font>
  <font style = "padding-left: 9em;">
    CASH ON HAND:&nbsp;&nbsp;$<%= @cash_on_hand %>
  </font>
</div>
<p class = "rep-spent-cash-notice">*since last campaign cycle</p>

<div class="pure-g">
  <div class="pure-u-1-1 pure-u-xl-1-2">
    <h2>TOP 5 CONTRIBUTORS</h2>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Contributor</th>
          <th>Total</th>
          <th>Indivs</th>
          <th>PACs</th>
        </tr>
      </thead>
      <tbody>
        <% @contributors.each do |contributor| %>
          <tr>
            <td><%= contributor["org_name"] %></td>
            <td>$<%= contributor["total"] %></td>
            <td>$<%= contributor["indivs"] %></td>
            <td>$<%= contributor["pacs"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="pure-u-1-1 pure-u-xl-1-2">
    <h2>TOP 5 INDUSTRIES</h2>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Industry</th>
          <th>Total</th>
          <th>Indivs</th>
          <th>PACs</th>
        </tr>
      </thead>
      <tbody>
        <% @industries.each do |industry| %>
          <tr>
            <td><%= industry["industry_name"] %></td>
            <td>$<%= industry["total"] %></td>
            <td>$<%= industry["indivs"] %></td>
            <td>$<%= industry["pacs"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>
<br>
<br>

<%= form_for @tweet, url: user_tweets_path(current_user),
  html: {class: 'pure-form'} do |f| %>
  <%= f.collection_radio_buttons :tweet_text, [[@tweet_1.to_sym, @tweet_1] ,['two', 'This is tweet number two.'], ['three', 'This is a third tweet.']], :first, :last do |b| %>
    <% b.label(class: 'pure-radio') { b.radio_button + ' ' + b.text } %>
  <% end %>
  <%= f.submit %>
<% end %>


<!-- <%= simple_form_for @tweet, url: user_tweets_path(current_user) do |f| %>
  <%= f.input :tweet_text %>
  <%= f.submit %>
<% end %> -->

<br />Last Updated: <%= @last_updated %>

<div class="">
  <h3>Posts about <%= @name %> </h3>
  <%= link_to "Post a link about #{@name}", new_rep_post_path(@rep_cid) %>
  <%= form_for @new_post, url: rep_posts_path(@rep_cid),
    html: {class: 'pure-form pure-form-stacked'} do |f| %>
      <%= f.text_field :link, as: :url, placeholder: 'https://...' %>
      <%= f.text_area :body %>
      <%= f.submit %>
  <% end %>

  <% @posts.each do |post| %>
   <% new_comment = Comment.new %>
    <div class="post-box">
      <h5><%= post.user.name %></h5>
      <%= link_to "#{post.link}", post.link %>
      <%= post.body %>
      <h4>Comments</h4>
      <% comments = post.comments %>
      <% unless comments.empty? %>
        <% comments.each do |comment| %>
          <div class="comment-box">
            <h5>
              <%= comment.user.name %>
              <small><%= comment.created_at.to_formatted_s(:long) %></small>
            </h5>
            <%= comment.body %>
          </div>
        <% end %>
      <% else %>
        <p>
          Be the the first to comment!
        </p>
      <% end %>
      <%= form_for new_comment, url: rep_post_comments_path(@rep_cid, post),
        html: {class: 'pure-form pure-form-stacked'} do |f| %>
        <%= f.text_area :body, placeholder: 'Comment here...' %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
</div>
