<%= @name %><br />
<%= @party %><br />
<%= @chamber %><br />
<%= @state %><br />
Serving Since: <%= @first_elected %><br />
Funds Raised (last campaign cycle): $<%= @total %><br />
Spent (last campaign cycle): $<%= @spent %><br />
Cash on Hand: $<%= @cash_on_hand %><br />

<br /><%= link_to "Twitter", @twitter_url %><br />
<%= link_to "Facebook", @facebook_url %><br />
<%= link_to "YouTube", @youtube_url %><br />

<%= link_to "Post a link about #{@name}", new_rep_post_path(@rep_cid) %>
<br />

<% if @posts.present? %>
<h4>Posts about <%= @name %> </h4>
  <% @posts.each do |post| %>
    <%= link_to "#{post.link}", post.link %><br />
    <%= post.body %><br />
    
    <%= link_to pluralize(post.comments.count, "Comment"), rep_post_path(@rep_cid, post) %><br />
    <%= link_to 'Comment on this Post', new_rep_post_comment_path(@rep_cid, post) %><br />
  <% end %>
<% end %>

<h1>Top 5 Contributors</h1>
<table>
  <thead>
    <tr>
      <th>Contributor</th>
      <th>Total</th>
      <th>Indivs</th>
      <th>PACs</th>
    </tr>
  </thead>
  <tbody>
    <% @contributors.each do |contributor| %>
      <tr>
        <td><%= contributor["org_name"] %></td>
        <td>$<%= contributor["total"] %></td>
        <td>$<%= contributor["indivs"] %></td>
        <td>$<%= contributor["pacs"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Top 5 Industries</h1>
<table>
  <thead>
    <tr>
      <th>Industry</th>
      <th>Total</th>
      <th>Indivs</th>
      <th>PACs</th>
    </tr>
  </thead>
  <tbody>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= industry["industry_name"] %></td>
        <td>$<%= industry["total"] %></td>
        <td>$<%= industry["indivs"] %></td>
        <td>$<%= industry["pacs"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>
<br>

<%= simple_form_for @tweet, url: user_tweets_path(current_user) do |f| %>
  <%= f.collection_radio_buttons :tweet_text, [[@tweet_1.to_sym, @tweet_1] ,[false, 'This is tweet number two.'], [false, 'This is a third tweet.']], :first, :last %>
  <%= f.button :submit %>
<% end %>


<!-- <%= simple_form_for @tweet, url: user_tweets_path(current_user) do |f| %>
  <%= f.input :tweet_text %>
  <%= f.button :submit %>
<% end %> -->

<br />Last Updated: <%= @last_updated %>
