<nav>
  <div class="container">
    <div id="logo_full">
      <%= link_to 'SharedSecrets', root_path, id: 'logo' %>
    </div>
    <div id="logo_collapse">
      <%= link_to 'SS', root_path, id: 'logo' %>
    </div>
    <div class="pure-menu pure-menu-horizontal nav-menu">
      <% if current_user.nil? %>
        <li class="pure-menu-item">
          <%= link_to "Sign in with Twitter", "/auth/twitter", class: 'pure-menu-link' %>
        </li>
      <% else %>
        <% if current_user.state %>
          <li class="pure-menu-item">
            <div class="pure-menu pure-menu-horizontal state-select">
              <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="#" id="menuLink1" class="pure-menu-link">Find Representatives</a>
                  <ul class="pure-menu-children">
                    <% states_by_abbrev.each do |abbrev, state| %>
            <li class="pure-menu-item">
                        <%= link_to state, reps_path(state: abbrev), class: 'pure-menu-link' %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        <% end %>
        <li class="pure-menu-item">
          <%= link_to "Log Out", "/logout", class: 'pure-menu-link' %>
        </li>
      <% end %>
    </div>
  </div>
</nav>
