<!DOCTYPE html>
<html>
<head>
  <title>SharedSecrets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user.nil? %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% else %>
  <%= link_to "Log out", "/logout" %>
  <% end %>


<br>
<br>


<% flash.each do |key, value| %>
      <h3><div class="alert alert-<%= key %>"><%= value %></div></h3>
  <% end %>


  <br>
  <br>

<%= yield %>

</body>
</html>
