<!DOCTYPE html>
<html>

  <%= render 'application/head' %>

  <body>
    <%= render 'application/navbar' %>
    <div class="container">
      <%= render 'application/flash' %>
      <%= yield %>
      <%= render partial: 'application/footer' %>
    </div>
  </body>
</html>
